In [1]:
'''
Question 1 - 
FIZZBUZZ - 
1. Take an integer input n
2. If N is a multiple of 3 -> print FIZZ
3. If N is a multiple of 5 -> print BUZZ
4. If N is a multiple of both 3 and 5 -> FIZZBUZZ

Otherwise print nothing.
'''

'\nQuestion 1 - \nFIZZBUZZ - \n1. Take an integer input n\n2. If N is a multiple of 3 -> print FIZZ\n3. If N is a multiple of 5 -> print BUZZ\n4. If N is a multiple of both 3 and 5 -> FIZZBUZZ\n\nOtherwise print nothing.\n'

In [14]:
n = int(input())
if n % 3 == 0:
    print("FIZZ")
elif n % 5 == 0:
    print("BUZZ")
elif n % 3 == 0 and n % 5 == 0:
    print("FIZZBUZZ")
else:
    print("Nothing")
    
# ye code satisfy nhi hai because n % 3 == 0 runs phale. to n % 3 == 0 and 
# n % 5 == 0 run nhi kre ga.

15
FIZZ

In [15]:
n = int(input())
if n % 3 == 0 and n % 5 == 0:
    print("FIZZBUZZ")
elif n % 5 == 0:
    print("BUZZ")
elif n % 3 == 0:
    print("FIZZ")
else:
    print("Nothing")

15
FIZZBUZZ

In [16]:
'''
Question 2 - 
What will be the output of the following code?

a = 50
if a > 40:
    print("A")
if a > 30:
    print("B")
if a > 20:
    print("C")
'''

'\nQuestion 2 - \nWhat will be the output of the following code?\n\na = 50\nif a > 40:\n    print("A")\nif a > 30:\n    print("B")\nif a > 20:\n    print("C")\n'

In [17]:
a = 50
if a > 40:
    print("A")
if a > 30:
    print("B")
if a > 20:
    print("C")

A
B
C

In [23]:
a = 50
if a > 40:
    print("A")
elif a > 30:
    print("B")
elif a > 20:
    print("C")

A

In [24]:
'''
Question 3 - 
Take in three inputs from a user which are marks in english, maths and science.
Assign streams according to the following criteria.
- if science > 90 or marks in all subjects are greater than equal to 75 -> Science
- if marks in all subjects are greater than 60 -> Commerce
- if marks in any are less than or equal to 60 -> Humanities
'''

'\nQuestion 3 - \nTake in three inputs from a user which are marks in english, maths and science.\nAssign streams according to the following criteria.\n- if science > 90 or marks in all subjects are greater than equal to 75 -> Science\n- if marks in all subjects are greater than 60 -> Commerce\n- if marks in any are less than or equal to 60 -> Humanities\n'

In [31]:
e = int(input("Marks in Math: - "))
m = int(input("Marks in Science: - "))
s = int(input("Marks in English: - "))
if s > 90 or (s >= 75 and e >= 75 and m >= 75):
    print("Science")
elif  s > 60 and m > 60 and e > 60:
    print("Commerce")
else:
    print("Humanities")

Marks in Math: - 60
Marks in Science: - 60
Marks in English: - 60
Humanities

In [ ]:

BONUS QUESTIONS - 
1. Build a meter system for an auto. Take into two inputs. 
Kilometers Travelled and Stall Time (in minutes). Rate List -
- First 10 kms - Rs 10 per Km
- Next 40 kms - Rs 9 per Km
- Next 100 kms - Rs 8 per Km
- Any leftover km count - Rs. 6 per Km

- Rs 5 extra for every minute of Stall Time.

------------------------------------------

2. Generate electricity bill using the following rate card.
Take units consumed as input -
- If < 100 units -> Free
- If >= 100 units and < 200 units -> Rs 2 per unit
- If >= 200 units -> Rs 5 per unit

'''

In [34]:
# Code for Question 2.
Unit_consumed = int(input())
if Unit_consumed < 100:
    print("Free")
elif Unit_consumed >= 100 and Unit_consumed < 200:
    print("Rs 2 per unit")
elif Unit_consumed >= 200:
    print("Rs 5 per unit")

105
Rs 2 per unit

In [ ]:
# Code for Question 1.
K_t = int(input("Kilometer travelled: - "))
S_t = int(input("Stall Time: - "))

## SHORT CIRCUITING

In [35]:
5 or True
# truthy or any_other value

5

In [37]:
0 or 7
# Falsy or any_other value

7

In [38]:
0 or False

False

In [39]:
'''
OR Operation in Python ->
First Value Truthy -> First Value (Ignores the second value)
First Value is Falsy -> Second Value
'''

'\nOR Operation in Python ->\nFirst Value Truthy -> First Value (Ignores the second value)\nFirst Value is Falsy -> Second Value\n'

In [41]:
1 and True

True

In [43]:
"" and "Something"

''

In [45]:
#  Logical Operators

# Not(Highest)
# And
# or (Lowest)

In [46]:
True and False or True and True
# False or True and True
# False or True
# True

True

In [48]:
True and 1 or 0 and True
# 1 or 0 and True
# 1 or 0
# 1

1

In [49]:
if False:
    print("1")
elif True:
    print("2")
elif True:
    print("3")
else:
    print("4")

2