In [1]:
a = {"Value1","Value2","Value3"}

In [2]:
a

{'Value1', 'Value2', 'Value3'}

In [3]:
a = {
    "key1" : "value1",
    "key2" : "value2",
    "key3" : "value3"
}

In [7]:
# Approach 1
state_wise_data = [("Delhi", 70), ("Kerala", 99), ("UP", 98), ("Nagaland", 65)]

In [8]:
state_wise_data[2]

('UP', 98)

In [9]:
# Approach 2
state_wise_data = {
    "Delhi" : 70,
    "Kerala" : 99,
    "UP" : 98,
    "Nagaland" : 65
}

In [10]:
state_wise_data["Delhi"]

70

In [11]:
state_wise_data["UP"]

98

In [12]:
state_wise_data

{'Delhi': 70, 'Kerala': 99, 'UP': 98, 'Nagaland': 65}

In [16]:
a = {
    "Delhi" : 70,
    "Kerala" : 99,
    "UP" : 98,
    "Nagaland" : 65
}

In [17]:
a["Maharastra"] = 80

In [18]:
a

{'Delhi': 70, 'Kerala': 99, 'UP': 98, 'Nagaland': 65, 'Maharastra': 80}

In [19]:
a["Delhi"] = 85 #This keys are case sensitive

In [20]:
a

{'Delhi': 85, 'Kerala': 99, 'UP': 98, 'Nagaland': 65, 'Maharastra': 80}

In [21]:
# Hetrogeneity in a dictionary
# Keys -> Strings
# Values -> Any Python Objects

In [22]:
# Adding and updating values with one operation

In [24]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapons" : ["stormbreaker", "mjolnir"]
}

In [25]:
Avenger.update({
    "name" : "Thor Odinaon",
    "weapons" : ["stormbreaker"],
    "strongest?" : True, 
    "eyes" :1
})

In [26]:
Avenger

{'name': 'Thor Odinaon',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [27]:
random = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : None,
}

In [29]:
random["b"]

2

In [30]:
random["e"]

KeyError: 'e'

In [31]:
result = random.get("e")

In [32]:
print(result)

None

In [33]:
result = random.get("e", False)
# This default value will be returned in case the key does not exist

In [34]:
result

False

In [36]:
random.get("a")

1

In [38]:
Avenger

{'name': 'Thor Odinaon',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [39]:
Avenger.get("weapons").append("Mayank")

In [40]:
Avenger

{'name': 'Thor Odinaon',
 'age': 1500,
 'weapons': ['stormbreaker', 'Mayank'],
 'strongest?': True,
 'eyes': 1}

In [41]:
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)

{'Sheldon': 1, 'Leonard': 2, 'Penny': 2}

In [42]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}

In [43]:
freshers

{'student1': {'name': 'yash', 'salary': 7500},
 'student2': {'name': 'heet', 'salary': 8000},
 'student3': {'name': 'smit', 'salary': 6500}}

In [44]:
freshers['smith']['salary'] = 8500

KeyError: 'smith'

In [45]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [46]:
dict = {5: 'a', 10: 'b', 15: 'c'}
print(dict[0])

KeyError: 0

In [47]:
dict = {5: 'a', 10: 'b', 15: 'c'}
print(dict.get(0))

None

In [48]:
abc = {}
abc[1] = 1
abc['1'] = 2
abc[1] = abc[1] + 1

In [49]:
abc

{1: 2, '1': 2}

In [2]:
def function_1():
    print("third")
    function_2()
def function_2():
    print("second")
    function_3()
def function_3():
    print("first")

function_1()

third
second
first

In [9]:
def func(L):
    N = len(L)
    i = 0
    while i < N:
        if L[i] != L[i+1]:
            return True
        # i = i + 1
    return False

In [7]:
5

5

In [20]:
def doSomething(M):
    n = len(M)
    m = len(M[0])
    var_1 = M[0][0]
    for i in range(n):
        num = -1
        for j in range(m):
            if M[i][j] > num:
                num = M[i][j]
        if num > var_1:
            var_1 = num
    return var_1

In [11]:
var_1 = -1

In [13]:
def dot_product(L1, L2):
    N = len(L1)
    dot_sum = 0
    for i in range(N):
        dot_sum = dot_sum + (L1[i] * L2[i])
    return dot_sum

In [18]:
L1 = [1,2,3]
L2 = [1,2,4]

In [19]:
def func(L):
    return L.count(L[0] == len(L))