In [1]:
class Student:
    def __init__(self, name, age):
        print(f"ID of self - {id(self)}")
        
        # Instane Variables / Instance Attributes
        self.name = name
        self.age = age

In [2]:
a = Student("Bipin Kalra", 5000)

ID of self - 2461865863504

In [3]:
id(a)

2461865863504

In [4]:
a

In [5]:
a.name

'Bipin Kalra'

In [6]:
class Dog:
    # CLASS VARIABLE
    kind = "labra"
    
    def __init__(self, name):
        # INSTANCE VARIABLE
        self.name = name

In [7]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [8]:
d1.name

'Tuffy'

In [9]:
d2.name

'Scooby'

In [10]:
d1.kind

'labra'

In [11]:
d2.kind

'labra'

In [12]:
Dog.name

AttributeError: type object 'Dog' has no attribute 'name'

In [13]:
d1.kind = "german shepherd"

In [14]:
d1.kind

'german shepherd'

In [15]:
d2.kind

'labra'

In [16]:
Dog.kind

'labra'

In [17]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [18]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [19]:
d1.teach_trick("jump")

In [20]:
d1.teach_trick("sit")

In [21]:
d1.tricks

['jump', 'sit']

In [22]:
d2.tricks

['jump', 'sit']

In [23]:
Dog.tricks

['jump', 'sit']

In [24]:
'''
Class Variables vs Instance Variables ->

Updating an class variable using an object - 
    - Mutable Variable -> The class variable itself is modified
    - Immutable Variable -> A new instance variable is created just for that object
'''

'\nClass Variables vs Instance Variables ->\n\nUpdating an class variable using an object - \n    - Mutable Variable -> The class variable itself is modified\n    - Immutable Variable -> A new instance variable is created just for that object\n'

In [25]:
# MAGIC METHODS / DUNDERS

In [26]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.name + other.name
    
    def __gt__(self, other):
        return self.milaege > other.milaege

In [27]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14)

In [28]:
print(c1)

# Car.__str__(c1)

Nexon -> 13

In [29]:
print(c2)

Altroz -> 14

In [30]:
c1 + c2

# c1.__add__(c2)
# Car.__add__(c1, c2)

'NexonAltroz'

In [31]:
c1 > c2

False

In [32]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def withdraw(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [33]:
b1 = BankAccount(10000)

In [34]:
b1.balance

10000

In [35]:
b1.deposit(5000)
b1.withdraw(15000)

In [36]:
b1.balance

0

In [37]:
b1.balance = 123456789098765432345678909876543212345678987654321

In [38]:
# Private Variables

In [39]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance # __balance is a private variable
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount
        
    def show_balance(self):
        return f"Balance = {self.__balance}"

In [40]:
b1 = BankAccount(10000)

In [41]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [42]:
b1.show_balance()

'Balance = 10000'

In [43]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [44]:
b1.__balance = 12345678987654321345678987654321234567897654321

In [45]:
b1.__balance

12345678987654321345678987654321234567897654321

In [46]:
b1.show_balance()

'Balance = 10000'

In [48]:
b1._BankAccount__balance # NAME MANGLING

# this variable is created instead of __balance

10000

In [49]:
b1._BankAccount__balance = 0

In [50]:
b1.show_balance()

'Balance = 0'

In [51]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
        super().__init__(name)
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        # Staff.__init__(self, name, salary)
        super().__init__(name, salary)

In [52]:
t1 = Teacher("Bipin Kalra", 10, "Computer Science")

In [53]:
t1.__dict__

{'department': 'Computer Science', 'salary': 10, 'name': 'Bipin Kalra'}

In [54]:
t1.random = "random"

In [55]:
t1.__dict__

{'department': 'Computer Science',
 'salary': 10,
 'name': 'Bipin Kalra',
 'random': 'random'}

In [56]:
t1.department

'Computer Science'

In [57]:
t1.name

'Bipin Kalra'

In [58]:
t1.salary

10

In [59]:
class A:
    pass

class B:
    pass

class C(A, B):
    pass

In [60]:
#  Research about how super() works in case of multiple inheritence.
# DIAMOND INHERITENCE

In [61]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass
    
class D(A):
    x = 5
    
class E(C, D):
    pass

In [62]:
e = E()

In [63]:
e.x

5

In [64]:
E.__mro__ # special parameter to print MRO or Method Resolution Order

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)