In [1]:
print("How are you")

How are you

In [2]:
'''
Q- 1
print the following pattern

n = 5
*
**
***
****
*****

Input the number of rows from the user: n
'''

'\nQ- 1\nprint the following pattern\n\nn = 5\n*\n**\n***\n****\n*****\n\nInput the number of rows from the user: n\n'

In [4]:
n = int(input())
for i in range(n):
    for j in range(i + 1):
        print("*", end = "")
        
    print()

5
*
**
***
****
*****

In [8]:
'''
n = 6
1
12
123
1234
12345
123456

'''

'\nn = 6\n1\n12\n123\n1234\n12345\n123456\n\n'

In [9]:
n = int(input())

for i in range(1, n+1):
#     print the ith row
    for j in range(1, i+1):
        print(j, end = "")
        
    print()

6
1
12
123
1234
12345
123456

In [10]:
 i = 5
# i+1 stars
for j in range(i+1):
  print('*', end = "")

******

In [11]:
# n = int(input())

n = 5
for i in range(1, n+1):
  #print the ith row
  for j in range(1, i+1):
    print(j, end = "")

  print()

1
12
123
1234
12345

In [12]:
#HW - try to start row numbers from 0 and then print the same pattern
     

for i in range(5):
  print(i)

0
1
2
3
4

In [13]:
for i in range(5):
  print(i, end = " ")

0 1 2 3 4

In [14]:
'''
Question2:

Print the following pattern:

n = 6
1
12
123
1234
12345
123456

'''

'\nQuestion2:\n\nPrint the following pattern:\n\nn = 6\n1\n12\n123\n1234\n12345\n123456\n\n'

In [17]:
#0 based row number

n = 5

for i in range(n):

  #print the ith row
  for j in range(1, i+2):
    print(j, end = "")

  print()

1
12
123
1234
12345

In [18]:
'''
Question2:

Print the following pattern:

n = 6
*
*2
*2*
*2*4
*2*4*
*2*4*6


Obs:
Within each row: printing 1 - i
even - print number
odd - print *
'''

'\nQuestion2:\n\nPrint the following pattern:\n\nn = 6\n*\n*2\n*2*\n*2*4\n*2*4*\n*2*4*6\n\n\nObs:\nWithin each row: printing 1 - i\neven - print number\nodd - print *\n'

In [19]:
n = int(input())

for i in range(1,n+1):

  #print the ith row
  for j in range(1,i+1):

    if j%2 == 0:
      print(j, end = "")
    else:
      print('*', end= "")

  print()

5
*
*2
*2*
*2*4
*2*4*

In [21]:
n = 6

for i in range(1,n+1):

  #print the ith row
  for j in range(1,i+1):

    if j%2 == 0:
      print(j, end = "")
    else:
      print('*', end= "")

  print()

*
*2
*2*
*2*4
*2*4*
*2*4*6

In [22]:
'''
Quesiton4:
Print the following pattern:
n = 5

    *
   **
  ***
 ****
*****
'''

'\nQuesiton4:\nPrint the following pattern:\nn = 5\n\n    *\n   **\n  ***\n ****\n*****\n'

In [23]:
n = 5

for i in range(n):

  #print ith row

  #print the space part

  #print the star part

  print()

In [24]:
n = 5

for i in range(n):

  #print ith row

  #print the space part- this loop should run n-i-1 number of times
  for j in range(n-i-1):
    print("@", end = "")

  #print the star part- this loop should run i+1 number of times
  for k in range(i+1):
    print("*", end = "")

  print()

@@@@*
@@@**
@@***
@****
*****