In [1]:
a = [1,2,3,4,5]

In [2]:
a

[1, 2, 3, 4, 5]

In [3]:
a = [10,20,30,40,50,60,70,80,90,100]

In [4]:
a[0] #Square bracket used for accessing in case of tuples also

10

In [5]:
a[-1]

100

In [6]:
a[2:8]

[30, 40, 50, 60, 70, 80]

In [7]:
for i in a:
    print(i, end = " ")

10 20 30 40 50 60 70 80 90 100

In [8]:
type(a)

list

In [9]:
type(a)

list

In [10]:
a = ("Mayank", 45, 67.5, True, (1,2,3))

In [11]:
a

('Mayank', 45, 67.5, True, (1, 2, 3))

In [12]:
a = () # Creat a empty tuples

In [13]:
type(a)

tuple

In [14]:
a = []

In [15]:
a

[]

In [16]:
'''
Question 1-
What will be th eoutput of the following?
(1,2,3,) + (4)
'''

'\nQuestion 1-\nWhat will be th eoutput of the following?\n(1,2,3,) + (4)\n'

In [17]:
t1 = (1,2,3)
t2 = (4)
t3 = t1 +t2

TypeError: can only concatenate tuple (not "int") to tuple

In [20]:
type(("random?"))

str

In [21]:
'''
Question 2 - 
given an input string, write a code to generate a list of all its character
Input - "abc"
Output - ["a", "b", "c", "c"]
'''

'\nQuestion 2 - \ngiven an input string, write a code to generate a list of all its character\nInput - "abc"\nOutput - ["a", "b", "c", "c"]\n'

In [24]:
a = "Mayank"

In [25]:
list(a)

['M', 'a', 'y', 'a', 'n', 'k']

In [26]:
tuple(a)

('M', 'a', 'y', 'a', 'n', 'k')

In [27]:
#PACKING AND UNPACKING

In [28]:
def foo():
    return 200, "Mayank", 300.5

In [35]:
a, b, c = foo() # packing and unpacking together

In [36]:
a

200

In [37]:
b

'Mayank'

In [38]:
c

300.5

In [31]:
x, y, z = [1,2,3] # possible with list as well

In [32]:
x

1

In [33]:
y

2

In [34]:
z

3

In [39]:
a = [(1, "Mayank"),(2, "Rohit"), (3, "Aditya"), (4, "Nikhil")]

In [40]:
for i in a:
    print(i)

(1, 'Mayank')
(2, 'Rohit')
(3, 'Aditya')
(4, 'Nikhil')

In [41]:
for i in a:
    print(f"My roll number is {i[0]} and my name is {i[1]}!")

My roll number is 1 and my name is Mayank!
My roll number is 2 and my name is Rohit!
My roll number is 3 and my name is Aditya!
My roll number is 4 and my name is Nikhil!

In [42]:
for roll, name in a:
    print(f"My roll number is {roll} and my name is {name}!")

My roll number is 1 and my name is Mayank!
My roll number is 2 and my name is Rohit!
My roll number is 3 and my name is Aditya!
My roll number is 4 and my name is Nikhil!

In [43]:
'''
Que 3 -
Write a code to swap two elements in pythen using a third variable. 
'''

'\nQue 3 -\nWrite a code to swap two elements in pythen using a third variable. \n'

In [44]:
a = 10
b = 20

In [45]:
temp = a
a = b
b = temp

In [46]:
a

20

In [47]:
b

10

In [48]:
a = 1,2,3,4,5

In [49]:
a

(1, 2, 3, 4, 5)

In [50]:
# Sets

In [51]:
a = {1,2,3,3,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,7,7,7,7,8,8,8}

In [53]:
a # only print the unique number - and remove all repeating Number

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a[0] # sets are not ordered - no indexing

TypeError: 'set' object is not subscriptable

In [55]:
5 in a

True

In [56]:
10 in a

False

In [57]:
a = {}

In [59]:
type(a) # dictionary also uses {}

dict

In [60]:
a = list()

In [61]:
a

[]

In [62]:
a = tuple()

In [63]:
a

()

In [64]:
a = set()

In [65]:
a

set()

In [66]:
a = {4,3,8,9,5}

In [68]:
a
'''
python automatically arranging number in sorted order.
python internally maintains sets in a sorted fashion.
WE WILL WORK WITH SETS WITHOUT AN ASSUMPTION OF THEM BEING SORTED. 
'''

'\npython automatically arranging number in sorted order.\npython internally maintains sets in a sorted fashion.\nWE WILL WORK WITH SETS WITHOUT AN ASSUMPTION OF THEM BEING SORTED. \n'

In [69]:
a = {1,2,3}

In [70]:
a.add(4)

In [71]:
a

{1, 2, 3, 4}

In [72]:
a.remove(3)

In [73]:
a

{1, 2, 4}

In [75]:
a.update([5,6,7,8,9])

In [76]:
a

{1, 2, 4, 5, 6, 7, 8, 9}

In [77]:
'''
Question - 4
Take a string as input.
print the number of unique characters present inside that string.

INPUT - "aabbbcccccccddeee""
OUTPUT - 5

'''

'\nQuestion - 4\nTake a string as input.\nprint the number of unique characters present inside that string.\n\nINPUT - "aabbbcccccccddeee""\nOUTPUT - 5\n\n'

In [78]:
a = "aabbbccccccddeee"

unique = set(a)

In [79]:
unique

{'a', 'b', 'c', 'd', 'e'}

In [80]:
len(unique)

5

In [81]:
s1 = {2,3,4}
s2 = {1,2,4,5,6}

In [82]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [83]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [84]:
s1.intersection(s2)

{2, 4}

In [85]:
s1 & s2

{2, 4}

In [86]:
s1.difference(s2)

{3}

In [87]:
s1 - s2

{3}

In [88]:
s1.symmetric_difference(s2)

{1, 3, 5, 6}

In [89]:
s1^s2

{1, 3, 5, 6}

In [90]:
elements = (10,20,30,40,50,60,70,80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [91]:
fruits = ("Orange")

In [92]:
fruits

'Orange'

In [93]:
name_list = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_list)
name_list.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [94]:
tuple1 = (1150, 'sea_level',909)
print(max(tuple1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [95]:
tuple1[0] = 50
print(tuple[0])

TypeError: 'tuple' object does not support item assignment

In [96]:
tuple1 = (1150,877,909)
print(max(tuple1))

1150

In [1]:
t = (10,8,5,2,10,15,10,8,5,8,8,2)
unique_t = set(t)
for item in unique_t:
    print(f"count of {item} in tuple t: {t.count(item)}")

count of 2 in tuple t: 2
count of 5 in tuple t: 2
count of 8 in tuple t: 4
count of 10 in tuple t: 3
count of 15 in tuple t: 1

In [ ]:
def main(str):
    for i in range(len(str)):
        if str[i].isupper():
            upper += 1
            print(str)
    return 0